.navbar {
    background-color: #FFC700;
}

.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
}

.btn {
    font-weight: 700;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

@media (min-width: 320px) {
    .navbar-brand {
        font-size: 13px;
    }
    .btn {
        font-weight: 700;
        border-radius: 10px;
        width: 100px;
        height: 30px;
    }
}

@media (min-width: 574px) {
    .navbar {
        background-color: #FFC700;
        padding-left: 10px;
    }
    .navbar-brand {
        font-size: 20px;
    }
    .custom-navbar {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;
        font-weight: 700;
    }
    .btn {
        font-weight: 700;
        border-radius: 10px;
        width: 100px;
        height: 30px;
    }
}

@media (min-width: 920px) {
    .navbar {
        background-color: #FFC700;
        padding-left: 10px;
    }
    .navbar-brand {
        font-size: 24px;
    }
    .custom-navbar {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;
        font-weight: 700;
    }
    .btn {
        font-weight: 700;
        border-radius: 10px;
        width: 100px;
        height: 30px;
    }
}

@media (min-width: 1200px) {
    .navbar {
        background-color: #FFC700;
        padding-left: 10px;
    }
    .navbar-brand {
        font-size: 24px;
    }
    .custom-navbar {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;
        font-weight: 700;
    }
    .btn {
        font-weight: 700;
        border-radius: 10px;
        width: 100px;
        height: 30px;
    }
}