.movie-detail-container {
    padding: 10px;
    max-width: 2000px;
}

.movie-detail-container p {
    color: #fff;
}

.movie-detail-card {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.movie-detail-card-img {
    padding: 10px 0;
    text-align: left;
    padding-left: 50px;
}

.movie-detail-card-img img {
    width: 260px;
    height: 163px;
}

.movie-detail-card-description {
    padding: 10px;
}

.movie-detail-card-description h2 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.015em;
    color: #fff;
    margin-bottom: 0;
}

.movie-detail-card-description h6 {
    color: #ffc700;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.movie-detail-sinopse {
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}

.movie-detail-sinopse p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #9e9e9e;
}

.lista-avaliacoes-container {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 20px;
}

.sem-avaliacao {
    margin-left: 10px;
}

@media(min-width: 576px) {
    .movie-detail-container {
        padding: 20px;
    }
    .movie-detail-card-img img {
        width: 495px;
        height: 310px;
    }
}

@media(min-width: 768px) {
    .movie-detail-container {
        padding: 40px;
    }
    .movie-detail-card-img img {
        width: 610px;
        height: 385px;
    }
    .movie-detail-card-description {
        padding: 40px;
    }
    .movie-detail-card-description h2 {
        font-size: 36px;
    }
    .movie-detail-card-description h6 {
        font-size: 24px;
    }
    .movie-detail-card-description p {
        font-size: 24px;
        margin-bottom: 0;
    }
    .movie-detail-sinopse {
        margin: 0 30px;
    }
}

@media (min-width: 1200px) {
    .movie-detail-card-img img {
        width: 500px;
        height: 315px;
    }
    .movie-detail-card-description {
        padding: 20px;
    }
    .lista-avaliacoes-container {
        margin-top: 30px;
    }
}

@media(min-width: 1400px) {
    .movie-detail-container {
        margin: auto;
    }
}